# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#folders
winlib/
.vs/
.vscode./
.codex-vcpkg-build/
vcpkg_installed/
out/
build/**/*.pdb
#other files
.sconsign.dblite
